/* HEADER */

.main-container {
    max-width: 80vw;
    max-height: 100vh;
    margin: 0 56px 0 320px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin: 0 1.25rem 0 0;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-weight: 700;
    font: 16px;
    border: none;
    background-color: transparent;
    margin: 0 32px;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    border-radius: 40px;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin: 0 12vw;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
}

.main-container__content {
    display: flex;
    align-items: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.main-container__text {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
}

.main-container__text .text {
    color: #fff;
    cursor: pointer;
}

.main-container__text .title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 32px;
}

.main-container__text .subtitle {
    font-weight: 700;
    font-size: 24px;
}